/* You can add global styles to this file, and also import other style files */
body {
    font-family: 'Lato', sans-serif;
}

h1, h2, h3 {
    font-family: 'Archivo Black', sans-serif;
    font-weight: normal;
}